.headline { 
		color: darkred;
		text-align: center;
	}
	body.main {
		background-color: skyblue;
	}
	div.help {
		color: white;
	}
	p.help {
		color: red;
		font-size: 27px;
	}
	.hot {
		color: blue;
		background-color: orange;
	}
	hr{
		color: orange;
	}